@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Ubuntu&display=swap');

body {
  margin:0;
  background-color: #34b474;
  font-family: 'Architects Daughter', cursive;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  width: 100%;
  height:max-content;
  background-color: aliceblue;
  justify-content:space-evenly;
  display: inline-flex;
  align-items:baseline;
}

.main-logo {
  display:flex;
  position:relative;
}

.text {
  display:block;
  font-size: 50px;
  background-color: red;
  background-image: linear-gradient(45deg, #34b474, #0bb38c);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text2 {
  display:block;
  font-size: 30px;
  background-color: red;
  background-image: linear-gradient(45deg, #34b474, #0bb38c);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.snail-logo {
  height: 100px; 
  margin-top:20px;
  margin-left:-90px;
}

.bronnyhub {
  background-color: red;
  background-image: linear-gradient(45deg, #34b474, #0bb38c);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn {
  border: none;
  margin-left:80px;
  margin-top:15px;
  font-size: 25px;
  color: #42c282;
  background-color: aliceblue;
  font-weight:600;
}

.galeria {
  display:flex;
  align-items: center;
  justify-content: center;
}


.slimaki {
  margin:50px;
  height:300px;
  width:300px;
  border: none;
  background-color: #34b474;
 }


 .sl1:hover {
  background-image:url(../public/snail1.jpg);
  background-size:cover;
 }
 .sl2:hover {
  background-image:url(../public/snail2.jpg);
  background-size:cover;
 }
 .sl3:hover {
  background-image:url(../public/snail3.jpg);
  background-size:cover;
 }
